ul,
li,
span {
  font-size: inherit;
}

.hero-child .hero-heading-text::after {
  content: '';
  font-size: 3rem;
}

/* p tag mo */
.hero-child .hero-text:after {
  content: '';
}

.hero-wrapper img {
  height: auto;
  aspect-ratio: 7/9;
}

.education-section {
  flex-direction: column;
  padding: 3.5rem 10px;
}
.education-container {
  flex-direction: column;
  margin: 1.5rem;
  gap: 1rem;
  border-left: 2px solid var(--text-color);
}
.education-card {
  position: relative;
  padding: 1.5rem;
}
.education-card  span {
  /* color: var(--primary-color); */
  font-weight: 600;
}
/* .education-card p {
  color: var(--text-muted);
} */
.education-school {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.1rem;
}
.education-desc {
  color: var(--text-muted);
}
.education-card span::before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 50%;
  /* background: var(--primary-gradient); */
  background-color: var(--primary-color);
  top: 10;
  left: -10px;
  border: 4px solid var(--primary-color);
}
.education-container > :nth-child(1) span::before {
  background-color: yellow;
}

.education-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quote-section {
  margin: 10px;
  padding: 10px;
  background: var(--primary-gradient);
  /* background: linear-gradient(135deg, var(--primary-color), var(--primary-hover)); */
}
.quote-section.card {
  animation: none;
  opacity: 1;
}
.quote-container.card {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  box-shadow: none;
  border: none;
  background-color: transparent;
  animation: none;
  opacity: 1;
}

.competencies-section,
.approach-section {
  padding: 3rem 10px;
}

.competencies-container,
.approach-section {
  flex-direction: column;
  width: 100%;
}

.competencies-container .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.competency-tag {
  font-size: 1.1rem;
  font-weight: 600;
}

.competencies-content {
  list-style: '- ';
  font-weight: 450;
  font-size: 1rem;
  padding: 0 10px;
}

.competencies-section,
.approach-section {
  flex-direction: column;
  padding: 10px;
  gap: 1.5rem;
}

.approach-container {
  flex-direction: column;
}

@media (min-width: 320px) {

  .competencies-section,
  .approach-section {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 10px;
  }
}

@media (min-width: 768px) {

  .competencies-container,
  .approach-container {
    flex-direction: row;
    justify-content: center;
  }

  .competencies-container .card {
    width: 500px;
    font-size: 1.1rem;
  }

  .approach-section {
    font-size: 1.1rem;
  }

  .competencies-section,
  .approach-section {
    gap: 2rem;
    padding: 6rem 3rem
  }
}

@media (min-width: 1024px) {

  .quote-container,
  .competencies-section,
  .approach-section {
    padding: 2rem 10rem;
  }

  .competencies-section,
  .approach-section {
    gap: 2rem;
  }
  .education-section h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1440px) {

  .quote-container,
  .competencies-section,
  .approach-section {
    padding: 5rem 12rem;
  }

  .approach-container,
  .competencies-container,
  .competencies-content,
  .competency-tag {
    font-size: 1.3rem;
  }

  .competencies-container .card,
  .approach-container .card {
    max-width: 380px;
  }

  .approach-container .card {
    align-items: center;
  }
}