.hero {
  padding: 1rem 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.image-container .card {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  gap: 1rem;
  height: max-content;
}

.image-box {
  height: 320px;
  width: 100%;
  object-position: center;
  transition: filter 0.3s ease;
}

.card img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-desc {
  position: absolute;
  font-weight: 500;
  bottom: 45%;
  color: whitesmoke;
  width: 90%;
  justify-content: center;
  /* display: none; */
  scale: 0;
  transition: all 0.3s ease;
}

.image-container .card:hover .image-desc {
  /* display: flex; */
  scale: 1;
}

.image-container .card:hover .image-box {
  filter: brightness(60%);
}

.footer {
  margin-top: 2rem;
}

@media (min-width: 320px) {
  .image-container .card {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .image-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .image-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-container .card {
    width: 320px;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 2rem;
  }

  .image-container .card {
    width: 340px;
  }
}