.flex {
  display: flex;
  gap: 10px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-normal {
  color: var(--text-color);
}
.text-muted {
  color: var(--text-muted);
}
.text-danger {
  color: var(--danger-color);
}
.text-success {
  color: var(--accent-color);
}
.text-primary {
  color: var(--primary-color);
}
.text-gradient {
  background: var(--primary-gradient);
  background-clip: text;
  color: transparent;
}
.block {
  display: block;
}