@import url("./navbar.css");

:root {
  /* Backgrounds */
  --bg-color: #f8fafc;
  --bg-secondary: #f1f5f9;

  /* Text */
  --text-color: #1e293b;
  --text-muted: #64748b;

  /* Brand */
  --primary-color: #4f46e5;
  --primary-hover: #4338ca;
  --primary-gradient: linear-gradient(135deg, #4f46e5, #3b82f6);

  /* Accents */
  --accent-color: #22c55e;
  --danger-color: #ef4444;

  /* Surfaces */
  --card-bg: #ffffff;
  --border-color: #e2e8f0;
  --light-card-bg: #e0e7ff;

  /* Effects */
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  --radius: 10px;

  --main-font: IBM Plex Sans;
}

/* DARK MODE */
body.dark-mode {
  --bg-color: #0a0f1f;
  --bg-secondary: #0f172a;

  --text-color: #e2e8f0;
  --text-muted: #94a3b8;

  --primary-color: #6366f1;
  --primary-hover: #4f46e5;
  --primary-gradient: linear-gradient(135deg, #6366f1, #3b82f6);

  --accent-color: #22c55e;
  --danger-color: #f87171;

  --card-bg: #111827;
  --border-color: #1f2937;

  /* --shadow: 0 10px 30px rgba(0, 0, 0, 0.5); */
  --shadow: 0 10px 30px rgba(79, 70, 229, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);

  /* border: 1px solid var(--border-color); */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  box-shadow: var(--shadow);
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

#featuredProjects {
  scroll-margin-top: 70px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

button, .button {
  padding: 10px 16px;
  border: none;
  cursor: pointer;

  background: var(--primary-gradient);
  color: white;

  border-radius: 6px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease, color 0.3s ease;
}

button:hover, .button:hover {
  background: var(--primary-hover);
  transform: translateY(-1px);
}

/* Secondary Button */
.button-secondary {
  background: var(--bg-secondary);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  box-shadow: none;
}

.button-secondary:hover {
  background: var(--border-color);
}

/* temporary lang para sa card */
.card {
  background: var(--card-bg);
  border: 1px solid var(--border-color);

  border-radius: var(--radius);
  box-shadow: var(--shadow);

  padding: 20px;
  transition: transform 0.3s ease;
}

/* .card:hover {
  transform: translateY(-3px);
} */

#toggleTheme {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 10;
  font-size: 1rem;
  border-radius: 50px;
  padding: 1rem;

  opacity: 0;
  animation: slideUp 1.5s forwards ease 1s;
}

.hero {
  flex-direction: column;
  padding: 50px 20px;
  font-size: 1.1rem;
  padding: 1.5rem 0;
}

.hero-wrapper {
  flex-direction: column-reverse;
}

.hero-child {
  flex-direction: column;
  /* margin: 1.5rem 2rem; */
  gap: 10px;

  opacity: 0;
  animation: slideUp 1.3s forwards ease 0.3s;
}

.hero-wrapper img {
  width: 50%;
  margin-bottom: 2rem;

  opacity: 0;
  animation: slideUp 1.3s forwards ease;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

button {
  font-size: inherit;
}

.hero-image {
  height: auto;
  aspect-ratio: 3/4;
}

.hero-wrapper .card {
  padding: 0.5rem;
  margin: 1rem 0.2rem;
}

.offer-section {
  flex-direction: column;
  padding: 50px 20px;
}

/* reset mo styles in h1 sa sections */
.offer-section h1,
.project-section h1 {
  margin-bottom: 1rem;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.offer-section .card {
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  /* opacity: 1; */
  opacity: 0;
}

.animate {
  animation: slideUp 1.3s forwards ease 0.3s;
}

/* ayusin mo rin mamaya */
.project-section {
  flex-direction: column;
  gap: 1rem;
  padding: 50px 20px;
}

.project-container {
  flex-direction: column;
}

.project-container .card {
  padding: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.project-image {
  /* background: url("../images/image-not-found.png"); */
  border-radius: 10px 10px 0 0;
  /* height: 240px;
  width: 100%; */
  /* background-size: cover;
  background-position: center; */
}

.project-content {
  flex-direction: column;
  padding: 20px;
}

.project-tag {
  font-weight: 600;
}

.tech-stack {
  margin: 0.5rem 0;
}

.tech-stack span {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  background-color: var(--border-color);
}

.project-link {
  font-weight: 500;
}

.arrow {
  width: max-content;
  transition: all 0.3s ease;
}

.project-link:hover .arrow {
  margin-left: 5px;
}


.footer {
  flex-direction: column;
  gap: 1rem;
  padding: 50px 20px;
  background-color: var(--border-color);
  color: var(--text-color);
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}

.footer ul a {
  width: max-content;
}

.footer ul a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.footer hr {
  border: none;
  height: 1px;
  background: var(--text-muted);
}

.footer-bottom {
  margin-top: 1rem;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 320px) {

  .navbar-logo,
  .nav-menu a,
  .navbar-buttons {
    font-size: 1.1rem;
    font-size: 1.1rem;
  }

  .hero {
    font-size: 1rem;
    padding: 20px;
  }
}

@media (min-width: 768px) {

  .navbar-logo,
  .nav-menu a,
  .navbar-buttons {
    font-size: 1.4rem;
  }

  .hero {
    padding: 50px;
    font-size: 1.3rem;
  }

  .hero-wrapper {
    flex-direction: row;
    gap: 2rem;
  }

  .hero-wrapper img {
    width: 40%;
  }

  .hero-buttons {
    flex-direction: row;
    margin-top: 1rem;
  }

  .offer-section {
    font-size: 1.2rem;
    padding: 50px;
  }

  .card-container {
    display: flex;
  }

  .project-container .card {
    font-size: 1.1rem;
    width: 700px;
  }

  .footer {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .navbar-logo {
    font-size: 1.5rem;
  }

  .nav-menu a,
  .navbar-buttons {
    font-size: 1.4rem;
  }

  .hero {
    font-size: 1.4rem;
  }

  .hero-wrapper {
    justify-content: space-around;
  }

  .hero-child {
    width: 50%;
  }

  .hero-child .hero-heading-text {
    font-size: 0;
  }

  .hero-child .hero-heading-text::after {
    content: 'Student Web Developer & UI/UX Designer';
    font-size: 3rem;
  }

  /* p tag mo */
  .hero-child .hero-text::after {
    content: 'As an aspiring designer and developer, I am constantly learning and improving with every project I create.';
  }

  .hero-wrapper img {
    width: 30%;
  }

  .offer-section {
    padding: 60px;
  }

  .card-container {
    flex-direction: row;
    gap: 1rem;
  }

  .project-container {
    flex-direction: row;
  }

  .project-container .card {
    width: 510px;
    margin: 0 3px;
    height: 550px;
  }

  .footer {
    /* flex-direction: column; */
    padding: 2rem 5rem;
    justify-content: center;
  }

  .footer-container {
    font-size: 1.1rem;
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  .footer-column {
    padding: 0 1rem;
    width: 60%;
  }

  .footer-container .footer-column:nth-child(1) {
    /* background-color: red; */
    width: 100%;
  }

  .footer-links {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }

  .footer hr {
    border: none;
    height: 200px;
    width: 1px;
    background: var(--text-muted);
  }

  .footer-icons svg {
    height: 45px;
    width: 45px;
  }

  .footer-bottom {
    text-align: center;
  }
}

@media (min-width: 1440px) {

  .nav-menu a {
    font-size: 1.4rem;
  }

  .hero-child  .hero-heading-text::after {
    font-size: 3.2rem;
  }

  .offer-section {
    padding: 120px 180px;
  }

  section h1 {
    font-size: 2.5rem;
  }
}